body {
  background: #ddd;
  margin: 1rem;
  padding: 1rem;
  max-width: 500px;
  margin: 2rem auto;
  font-family: "Open Sans", sans-serif;
}

nav {
	background-color: #ddd;
	border-bottom: 2px solid orange;
	position: fixed;
	top: 0;
	width: 500px;
}

ol {
	padding-left: 0;
}

.crumb {
	margin-right: 2em;
	display: inline;
}

a {
	color: orange;
}

a:visited {
	color: crimson;
}


input {
	display: block;
}

img {
	max-width: 300px;
}

.profileBtn {
	background-color: yellowgreen;
	font-size: large;
	box-shadow: 0 8px 16px 0 black;
	margin-bottom: 20px;
}

.profileBtn:hover {
	background-color: black;
	color: whitesmoke;
	font-size: large;
	box-shadow: 0 8px 16px 0 grey;
	margin-top: 10px;
	margin-bottom: 20px;
}

#submit {
	background-color: yellow;
	font-size: large;
	box-shadow: 0 8px 16px 0 black;
	margin-top: 10px;
	margin-bottom: 20px;
}

#submit:hover {
	background-color: black;
	color: whitesmoke;
	font-size: large;
	box-shadow: 0 8px 16px 0 grey;
	margin-top: 10px;
	margin-bottom: 20px;
}

#img1:hover {
	box-shadow: 0 8px 16px 0 black;
}

.profileH1:hover {
	color: purple;
	text-shadow: 5px 5px 5px yellowgreen;
}

#gengar {
	font-size: 9px;	
	border: none;
	background-color: #ddd;
}